.custom-banner {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-banner__content {
  color: white;
}

.custom-banner__btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;
  background: white;
  color: black;
}